@font-face {
    font-family: 'Nunito-Black';
    src: url("./../fonts/Nunito-Black.ttf");
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url("./../fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: 'CourierPrime-Bold';
    src: url("./../fonts/CourierPrime-Bold.ttf");
}

@font-face {
    font-family: 'CourierPrime-BoldItalic';
    src: url("./../fonts/CourierPrime-BoldItalic.ttf");
}

@font-face {
    font-family: 'CourierPrime-Regular';
    src: url("./../fonts/CourierPrime-Regular.ttf");
}

@font-face {
    font-family: 'Bombing';
    src: url("./../fonts/Bombing.ttf");
}

@font-face {
    font-family: 'Raindrops';
    src: url("./../fonts/Raindrops.ttf");
}

/*SCROLL BAR CSS*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c6c6c6; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*END SCROLLBAR*/



@media only screen and (max-width: 600px)  {
    #block-warning {
        display: block !important;
        color: #ffffff;
    }
}

@media only screen and (min-width: 600px) {
    #block-warning {
        display: none;
    }
}

/*Overwriting default tags*/

body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #c8c8c8;
    padding: 5px;
    font-size: 17px;

    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(59, 59, 59, 1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(59, 59, 59, 1);
    box-shadow: 1px 1px 5px 0px rgba(59, 59, 59, 1);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

button:hover {
    border: none;
    background-color: #f0f0f0;
}

input {
    font-family: 'Arial';
    background-color: #d4d4d4;
    color: #000000;
    border-radius: 3px;
    border: 2px solid #535353;
    font-size: 18px;
}

input:hover {
    border: 2px solid #535353;
}

input:focus {
    border: 2px solid #535353;
}

#desktop {
    background-color: #62bb4b;
    width: 100vw;
    height: calc(100vh - 70px);
                /*hegiht of task-bar*/
}

/*Context Menu after click right button mouse*/

.menu {
    background-color: #d6d6d6;
    border: 2px solid #808080;

    font-family: 'Nunito-Regular';

    padding: 3px;
    min-width: 140px;
    position: absolute;
    left: -200px;
    top: -200px;

    z-index: 210;

    -webkit-box-shadow: 4px 4px 24px -2px rgba(76, 76, 76, 1);
    -moz-box-shadow: 4px 4px 24px -2px rgba(76, 76, 76, 1);
    box-shadow: 4px 4px 24px -2px rgba(76, 76, 76, 1);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.menu-option {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

    .menu-option:hover {
        background-color: #535353;
        color: #d3d3d3;
        cursor: pointer;
    }

.menu-option-disabled {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    color: #959595;
}

    .menu-option-disabled:hover {
        background-color: #d6d6d6;
        color: #959595;
        cursor: default;
    }

.menu-sep {
    border-top: 1px solid #000000;
    margin: 5px;
}

.menu-splitted {
    background-color: #d6d6d6;
    color: #000000;

    -webkit-box-shadow: 16px 8px 27px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 16px 8px 27px -9px rgba(66, 68, 90, 1);
    box-shadow: 16px 8px 27px -9px rgba(66, 68, 90, 1);
}

.menu-splitter > div {
    display: none !important;
}

.menu-splitter:hover > div {
    
    display: block !important;
}

