
.icon-folder-open:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-minimize:before { content: '\e802'; } /* '' */
.icon-settings:before { content: '\e803'; } /* '' */
.icon-fix:before { content: '\e804'; } /* '' */
.icon-right-arrow:before { content: '\e805'; } /* '' */
.icon-left-arrow:before { content: '\e806'; } /* '' */
.icon-down-arrow:before { content: '\e807'; } /* '' */
.icon-up-arrow:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-pause:before { content: '\e80b'; } /* '' */
.icon-win-attention:before { content: '\e80c'; } /* '' */
.icon-win-warning:before { content: '\e80d'; } /* '' */
.icon-win-info:before { content: '\e80e'; } /* '' */
.icon-win-question:before { content: '\e80f'; } /* '' */
.icon-picture:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-app-terminal:before { content: '\e812'; } /* '' */
.icon-app-calculator:before { content: '\e813'; } /* '' */
.icon-volume-off:before { content: '\e814'; } /* '' */
.icon-volume-down:before { content: '\e815'; } /* '' */
.icon-volume-up:before { content: '\e816'; } /* '' */
.icon-folder:before { content: '\e817'; } /* '' */
.icon-picture-folder:before { content: '\e818'; } /* '' */
.icon-folder-desktop:before { content: '\e819'; } /* '' */
.icon-file-documents:before { content: '\f0c5'; } /* '' */
.icon-app-apps-manager:before { content: '\f0e8'; } /* '' */
.icon-app-notebook:before { content: '\f14b'; } /* '' */
.icon-file-black:before { content: '\f15b'; } /* '' */
.icon-file:before { content: '\f15c'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-bin:before { content: '\f1f8'; } /* '' */
.icon-maximize:before { content: '\f2d0'; } /* '' */
.icon-default-icon:before { content: '\f601'; } /* '' */
