
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-minus-1:before { content: '\e802'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
