/*EXPLORER WINDOW STYLE*/

.exp-top {
    width: calc(100% - 20px);
    height: 25px;
    background-color: #cbcbcb;
    padding: 10px;
    border-bottom: 2px solid #bd7643;
}

.exp-top-wrapper-btns {
    float: left;
    width: 56px;
    margin-right: 4px;
    margin-left: -10px;
}

.exp-top-btn {
    float: left;
    padding: 4px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.exp-top-btn:hover {
    color: #868686;
    cursor: pointer;
}

.exp-top-path {
    float: left;
    background-color: #e4e4e4;
    font-family: 'CourierPrime-Regular';
    font-size: 15px;
    width: calc(100% - 60px);
    padding: 3px;
    padding-left: 5px;
    border: 1px solid #373737;
    letter-spacing: 0.5px;
}

.exp-wrapper {
    min-height: 100px; /*SETTING BY JS*/
}

.exp-nav {
    float: left;
    width: calc(20% - 10px);
    height: 100%;
    padding: 5px;
    background-color: #afafaf;
    border-right: 2px solid #bd7643;
}

.exp-content {
    float: left;
    background-color: #e4e4e4;
    padding: 5px;
    height: calc(100% - 24px);
    width: calc(100% - 12px - 20%);
}

.exp-item-barinfo {
    width: calc(100% - 10px);
    height: 20px;
    padding: 2px;
    padding-left: 5px;
    margin-left: 2px;
    background-color: #fff;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.exp-item {
    width: calc(100% - 7.5px);
    height: 20px;
    padding: 2px;
    padding-left: 5px;
    background-color: #fff;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.exp-item:hover {
    background-color: #fffad6;
    border: 1.5px solid #f2c172;    
    padding: 0.5px;
    padding-left: 3.5px;
}

.exp-item-name {
    float: left;
    color: #000;
}

.exp-item-date {
    float: right;
    margin-right: 27px;
}

.exp-item-type {
    float: right;
    margin-right: 27px;
}

.exp-item-selected {
    background-color: #fff28e !important;
    border: 1.5px solid #f7d97f !important;    
    padding: 0.5px !important;
    padding-left: 3.5px !important;
}

.exp-item-ghost-select {
    background-color: #fffef2 !important;
    border: 1.5px solid #ffe9a7 !important;    
    padding: 0.5px !important;
    padding-left: 3.5px !important;
}

/*PROPERTIES WINDOW STYLE*/

.prop-top {
    height: 60px;
    font-family: 'Nunito-Regular';
    padding: 5px;
    border-bottom: 2px dashed #373737;
}

.prop-top > i {
    font-size: 45px;
    float: left;
}

.prop-top > input {
    margin-top: 20px;
    float: left;
    width: 300px; /*JS OVERWRITE*/
}

.prop-center {
    padding: 15px;
}

.prop-center > table > tbody > tr > th:first-child {
    width: 130px;
}

.prop-center > table > tbody > tr > th {
    font-size: 17px;
    font-family: 'Nunito-Regular';
    font-weight: normal;
    text-align: left;
}

.prop-sep {
    border-bottom: 2px dashed #373737;
    width: 370px; /*JS OVERWRITE*/
    height: 10px;
    margin-bottom: 5px;
}


.prop-footer {
    float: right;
    padding: 5px;
}

.prop-footer > button {
    margin-right: 5px;
    padding: 5px 7px 5px 7px;
}